 <div class="user-details">
  <h1> My Expertise</h1>
  <div >
    <div>
      <p> {{site.user_description}} </p>
    </div>
  </div>
</div >
<div class="user">
  <div class="tech">
    <h2>Software engineering</h2>
    <i class="devicon-spring-original colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-python-plain-wordmark colored"></i>
    <p>Proficient in Java and Spring Framework for robust application development. Skilled in Python, C/C++, and database management (SQL, NoSQL). Knowledgeable in design patterns, TDD, DDD, and microservices for scalable solutions.</p>
  </div>
  <div class="tech">
    <h2>DevOps and BigData</h2>
    <i class="devicon-kubernetes-plain-wordmark colored"></i>
    <img width="70px" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/apachekafka/apachekafka-original-wordmark.svg" />
    <img width="70px" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azure/azure-original-wordmark.svg" />
    <p>
      Skilled in DevOps with Kubernetes for application deployment and architecture, ensuring scalability. Experienced in Kafka for data streams and Azure for cloud-based solutions, focusing on performance and reliability.</p>
  </div>
  <div class="tech">
    <h2>ML and Data science</h2>
    <i class="devicon-pytorch-plain-wordmark colored"></i>
    <i class="devicon-pandas-plain colored"></i>
    <i class="devicon-r-plain colored"></i>
    <p>Familiar with machine learning, applying PyTorch in university research. Comfortable using R and Pandas for data analysis. Solid mathematical background, aiming to utilize statistical models and algorithms for data-driven insights.</p>
  </div>
</div>
