<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="Hi! I'm Mikołaj, a software engineer intern, student at Warsaw University of Technology. My work revolve around Java, DevOps, Kubernetes, Kafka, Spring, React, PyTorch, Tensorflow. I'm pursuing my studies at Warsaw University of Technology focusing on machine learning, specifically within the context of my thesis on Conditioning of Musical Generative Models.">
  <meta property="og:url" content="https://mszawerd.dev/">
  <meta property="og:title" content="Mikołaj Szawerda">
  <meta property="og:type" content="website">
  <meta property="og:description" content="I'm Mikołaj, a software engineer intern, AI student at Warsaw University of Technology. My work revolve around Java, DevOps, Kubernetes, Kafka, Spring, React, PyTorch, Tensorflow.">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>



