<head>
  {% assign head = site.data.head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ head.description | default: site.description }}">
  <meta property="og:url" content="{{ head.og_url | default: site.url }}">
  <meta property="og:title" content="{{ head.og_title | default: site.title }}">
  <meta property="og:type" content="{{ head.og_type | default: "website" }}">
  <meta property="og:description" content="{{ head.og_description | default: head.description | default: site.description }}">

  <link rel="stylesheet" type="text/css" href="{{ head.devicons_css | default: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" }}" />

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <style>
    @media only screen and (max-width: 768px) {
      .user {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        align-items: center !important;
      }
      .user .tech {
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 30px;
      }
    }
  </style>
</head>



