<div class="user-details">
  <h1> Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/pr1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Parcel Tracking System </h3>
    <ul>
      <li>Java, Spring Boot, Resilience4j, React</li>
      <li>Apache Kafka, MinIO, Hashicorp Vault</li>
      <li>Docker, Jenkins</li>
    </ul>
    <p>Microservices-based Parcel Tracking System. It allows clients to add and track shipments using unique tracking numbers. The system integrates with various carriers for precise shipment location tracking. Key features include local database storage of tracking history and automatic updates for registered shipments. The system also supports searching across all shipment attributes and offers functionality for printing tracking histories, with files stored in a dedicated resource.</p>
    <a class="project-link" href="https://github.com/MikolajSzawerda/Parcel-tracking-system">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/pr2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Song skip prediction</h3>
    <ul>
      <li>Sklearn, Tensorflow</li>
      <li>Pandas, numpy, seaborn</li>
    </ul>
    <p>This project is a part of the Machine Learning Engineering at Warsaw University of Technology course aimed at developing a practical solution for "Pozytywka," an online music streaming service. As analysts, we step into the role of tackling a vaguely described task, requiring us to specify details for implementation. The challenge involves understanding the problem, analyzing data, and sometimes negotiating with management (tutor) to ensure the models are production-ready and future-proof for subsequent versions.</p>
    <a class="project-link" href="https://github.com/MikolajSzawerda/Song-skip-predictor">Check it out</a>
  </div>
</div>
